$blue: #185adb;
$white: #fdfcfa;
$background-white: #f4f4f4;
$black: #0f2c56;
$yellow: #ffc947;
$light-border-blue: rgba(24, 90, 219, 0.3);

$background-dark: #001f3f;
$dark: #083358;
$dark-blue: #0d63a5;
//rgb(24, 90, 219, 0.3)
//rgb(24, 90, 219, 0.5)
.mobile {
  background-color: $background-white;
  color: $black;

  .top > p,
  .details,
  footer > a {
    color: $blue;
  }

  header {
    background-color: $blue;
  }

  .card span,
  header {
    color: $white;
  }

  .top,
  .quick-transaction,
  .deposits {
    background-color: $white;
  }

  .infoBack {
    background-color: $black;
  }

  nav {
    background-color: $yellow;
  }
}

.light.desktop {
  background-color: $background-white;

  .card,
  header {
    color: $white;
  }

  .card-info,
  .deposits,
  .contacts,
  .recent-transactions,
  .exchange-rates,
  .notification-container,
  .user-options,
  .more-dropdown,
  footer {
    background-color: $white;
  }

  .more-dropdown span:hover,
  .transaction-content:hover,
  .contact:hover,
  .search {
    background-color: $background-white;
  }

  .rate-headers,
  .show-all,
  .info-header,
  .banky-info > h2,
  a:active,
  #noti-heading,
  .user-options.shown > a:hover,
  #navigation {
    color: $blue;
  }

  header,
  #navigation span::before {
    background-color: $blue;
  }

  .user-options.shown h3,
  .user-options.shown h4,
  .user-options.shown a,
  .notification-container,
  #noti-content,
  .main.wide,
  .main.wide h3,
  footer,
  footer a {
    color: $black;
  }

  #navigation {
    background-color: $yellow;
  }
}
