$blue: #185adb;
$white: #fdfcfa;
$background-white: #f4f4f4;
$black: #0f2c56;
$yellow: #ffc947;
$light-border-blue: rgba(24, 90, 219, 0.3);

$background-dark: #001f3f;
$dark: #083358;
$dark-blue: #0d63a5;

.mobile {
  .top > p,
  .details,
  footer > a {
    color: $blue;
  }

  header {
    background-color: $blue;
  }

  .card span,
  header {
    color: $white;
  }

  .top,
  .quick-transaction,
  .deposits {
    background-color: $white;
  }
}

.light.desktop {
  .card,
  header {
    color: $white;
  }

  .card-info,
  .deposits,
  .contacts,
  .recent-transactions,
  .exchange-rates,
  .notification-container,
  .user-options,
  .more-dropdown,
  footer {
    background-color: $white;
  }

  .rate-headers,
  .show-all,
  .info-header,
  .banky-info > h2,
  a:active,
  #noti-heading,
  .user-options.shown > a:hover,
  #navigation {
    color: $blue;
  }

  header,
  #navigation span::before {
    background-color: $blue;
  }
}
