@use "base";

.desktop {
  display: none;
}

.one {
  background-image: url(../img/holiday-illustration.jpg);
}

.two {
  background-image: url(../img/summer-digital-illustrations.jpg);
}
.three {
  background-image: url(../img/digital-illustration-summer.png);
}

.card {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: 3px solid base.$blue;
  border-radius: 10px;
  display: grid;
  height: 180px;
  width: 280px;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  color: base.$white;
  margin-top: 3vh;
  margin-bottom: 3vh;
  user-select: none;

  .infoBack {
    background-color: base.$dark;
    margin: 15px;
    padding: 1px;
    padding-right: 3px;
    padding-left: 3px;
    border-radius: 5px;
    white-space: nowrap;
  }

  .left {
    justify-self: start;
  }

  .right {
    justify-self: end;
  }

  .bottom {
    align-self: end;
  }

  .up {
    align-self: start;
  }
}

.contact {
  .photo-placeholder {
    border: 1px solid base.$blue;
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
}

.Duda > .photo-placeholder {
  background-image: url("../img/person1.png");
  @include base.contact-image;
}

.Anna > .photo-placeholder {
  background-image: url("../img/person4.png");
  @include base.contact-image;
}

.John > .photo-placeholder {
  background-image: url("../img/person5.png");
  @include base.contact-image;
}

.Amanda > .photo-placeholder {
  background-image: url("../img/person2.png");
  @include base.contact-image;
}

.contact {
  img {
    width: 60px;
  }
}

.active.photo-placeholder {
  box-shadow: 0 0 4px 2px base.$blue;
  transform: scale(1.1);
}

.contact.add-con {
  img {
    width: 60px;
    box-shadow: none;
  }
}

.active.add-contact {
  transform: scale(1.15);
}
.add-contact {
  transform: none;
}

.details {
  color: base.$blue;
  display: flex;
  align-items: center;
  gap: 10px;

  img {
    width: 12px;
  }
}

nav {
  width: 75%;
  border: 2px solid base.$blue;
  justify-self: center;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 23px;
  position: fixed;
  bottom: 0;
  margin-bottom: 20px;
  background-color: base.$yellow;

  ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;

    li {
      list-style: none;
    }
  }
}

@media only screen and (min-width: 780px) {
  .mobile {
    display: none;
  }

  .desktop {
    display: grid;
  }

  .user-options {
    @include base.desktop-options-border;
    background-color: base.$white;

    svg {
      width: 13px;
      cursor: pointer;
      opacity: 0.7;
      padding-right: 5px;
    }

    &::before {
      content: "";
      width: 10px;
      height: 10px;
      background-color: base.$white;
      border: 2px solid base.$blue;
      position: absolute;
      transform: rotate(45deg);
      border-bottom: none;
      border-right: none;
    }

    h3,
    h4 {
      text-align: center;
      color: base.$dark;
      font-size: 15px;
    }

    h4 {
      font-size: 10px;
      text-align: center;
    }

    ul li {
      border-top: 1px solid rgba(24, 90, 219, 0.3);
      font-size: 14px;

      a {
        text-decoration: none;
        color: base.$dark;

        &:hover {
          color: base.$blue;
        }
      }

      &:hover svg {
        opacity: 1;
      }
    }

    #privacy svg,
    #logout svg {
      width: 17px;
      padding-right: 2px;
    }
  }
}
