@use "base";

.card {
  background-image: url(../img/holiday-illustration.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: 3px solid base.$blue;
  border-radius: 10px;
  display: grid;
  height: 180px;
  width: 280px;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  color: base.$white;
  margin-top: 3vh;
  margin-bottom: 3vh;

  .infoBack {
    background-color: base.$dark;
    margin: 15px;
    padding: 1px;
    padding-right: 3px;
    padding-left: 3px;
    border-radius: 5px;
    white-space: nowrap;
  }

  .left {
    justify-self: start;
  }

  .right {
    justify-self: end;
  }

  .bottom {
    align-self: end;
  }

  .up {
    align-self: start;
  }
}
