@use "base";

.desktop {
  display: none;
}

.one {
  background-image: url(../img/holiday-illustration.jpg);
}

.two {
  background-image: url(../img/summer-digital-illustrations.jpg);
}
.three {
  background-image: url(../img/digital-illustration-summer.png);
}

.card {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: 3px solid base.$blue;
  border-radius: 10px;
  display: grid;
  height: 180px;
  width: 280px;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  color: base.$white;
  margin-top: 3vh;
  margin-bottom: 3vh;
  user-select: none;

  .infoBack {
    background-color: base.$dark;
    margin: 15px;
    padding: 1px;
    padding-right: 3px;
    padding-left: 3px;
    border-radius: 5px;
    white-space: nowrap;
  }

  .left {
    justify-self: start;
  }

  .right {
    justify-self: end;
  }

  .bottom {
    align-self: end;
  }

  .up {
    align-self: start;
  }
}

.contact {
  .photo-placeholder {
    border: 1px solid base.$blue;
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
}

.Duda > .photo-placeholder {
  background-image: url("../img/person1.png");
  @include base.contact-image;
}

.Anna > .photo-placeholder {
  background-image: url("../img/person4.png");
  @include base.contact-image;
}

.John > .photo-placeholder {
  background-image: url("../img/person5.png");
  @include base.contact-image;
}

.Amanda > .photo-placeholder {
  background-image: url("../img/person2.png");
  @include base.contact-image;
}

.contact {
  img {
    width: 60px;
  }
}

.active.photo-placeholder {
  box-shadow: 0 0 4px 2px base.$blue;
  transform: scale(1.1);
}

.contact.add-con {
  img {
    width: 60px;
    box-shadow: none;
  }
}

.active.add-contact {
  transform: scale(1.15);
}
.add-contact {
  transform: none;
}

.details {
  color: base.$blue;
  display: flex;
  align-items: center;
  gap: 10px;

  img {
    width: 12px;
  }
}

nav {
  width: 75%;
  border: 2px solid base.$blue;
  justify-self: center;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 23px;
  position: fixed;
  bottom: 0;
  margin-bottom: 20px;
  background-color: base.$yellow;

  ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;

    li {
      list-style: none;
    }
  }
}

@media only screen and (min-width: 780px) {
  .mobile {
    display: none;
  }

  .desktop {
    display: grid;
    font-family: base.$font-nunito;
    background-color: base.$background-white;
  }

  header {
    background-color: base.$blue;
    color: base.$white;

    h1 {
      font-size: 25px;
    }
  }

  .search {
    border-radius: 18px;
    border: 2px solid base.$yellow;
    background-color: base.$background-white;

    input[type="text"] {
      border: none;
      outline: none;
      background-color: transparent;
    }
  }

  .user {
    svg {
      transition: 0.2s;
      transform: rotate(90deg);
      cursor: pointer;
    }

    .profile-photo {
      min-width: 35px;
      min-height: 35px;
      border: 3px solid base.$yellow;
      border-radius: 50%;
      cursor: pointer;
      background-image: url("../img/person6.png");
      @include base.contact-image;
    }
  }

  .user-options {
    @include base.desktop-options-border;
    background-color: base.$white;
    visibility: hidden;
    opacity: 0;
    transition: 0.2s;
    width: 0px;
    height: 0px;
    font-size: 0;

    * {
      visibility: hidden;
      opacity: 0;
    }
  }

  .user-options.shown {
    opacity: 1;
    visibility: visible;
    width: 130px;
    height: 160px;

    * {
      visibility: visible;
      opacity: 1;
      transition: 0.4s;
    }

    svg {
      width: 13px;
      cursor: pointer;
      opacity: 0.7;
      padding-right: 5px;
    }

    &::before {
      @include base.container-pointer;
    }

    h3,
    h4 {
      text-align: center;
      color: base.$dark;
      font-size: 15px;
    }

    h4 {
      font-size: 10px;
    }

    ul {
      list-style: none;
    }

    ul li {
      border-top: 1px solid rgba(24, 90, 219, 0.3);
      font-size: 14px;

      &:hover svg {
        opacity: 1;
      }

      a {
        text-decoration: none;
        color: base.$dark;

        &:hover {
          color: base.$blue;
        }
      }
    }

    #privacy svg,
    #logout svg {
      width: 17px;
      padding-right: 2px;
    }
  }

  .notifivations-darkMode {
    width: 30%;
  }

  .notification-container {
    @include base.desktop-options-border;
    background-color: base.$white;
    font-size: 0px;
    color: base.$dark;
    width: 10px;
    height: 10px;
    transition: 0.2s;

    img[alt="close"] {
      width: 11px;

      &:hover {
        transform: scale(1.1);
      }
    }

    #noti-heading {
      color: base.$blue;
      font-weight: 600;
    }
  }

  .notification-content {
    border-top: 1px solid rgb(24, 90, 219, 0.3);
    width: 90%;
    opacity: 0;
    visibility: hidden;

    &::before {
      @include base.container-pointer;
      opacity: 0;
      visibility: hidden;
    }

    #noti-content {
      font-size: 11px;
      color: base.$dark;
    }

    img {
      width: 28px;
    }
  }

  #notification,
  #notification-opened,
  .dark-mode > img {
    &:hover {
      transform: scale(1.1);
    }
  }

  .hide {
    opacity: 0;
    visibility: hidden;
  }

  .show {
    opacity: 1;
    visibility: visible;
    width: 310px;
    height: 130px;
    font-size: 13px;

    * {
      transition: 0.3;
    }

    .notification-content,
    .notification-content::before {
      opacity: 1;
      visibility: visible;
    }
  }

  #navigation {
    width: 100%;
    background-color: base.$yellow;
    color: base.$blue;
    font-weight: 600;
    overflow: hidden;

    span {
      cursor: pointer;

      &::before {
        @include base.container-pointer;
        background-color: base.$blue;
        opacity: 0;
        transition: 0.3s;
      }

      &:hover::before {
        opacity: 1;
      }
    }
  }

  .main.wide {
    color: base.$dark;
    // letter-spacing: 1px;

    .card-info,
    .deposits,
    .contacts,
    .recent-transactions,
    .exchange-rates {
      background-color: base.$white;
      @include base.border-style(rgba(24, 90, 219, 0.4));
    }
    .right-top {
      border: none;
      box-shadow: none;

      & > div {
        height: 50%;
      }
    }

    h3 {
      color: base.$dark;
      font-size: 15px;
      font-weight: 400;
    }
  }

  .card-info > span {
    font-weight: 600;
  }

  .info-header {
    @include base.content-style;
    color: base.$blue;
    font-size: 11px;
  }

  .card-content {
    @include base.content-style;
    font-weight: 600;
    font-size: 15px;
    .card-image {
      width: 60px;
      height: 40px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      border: 2px solid base.$blue;
      border-radius: 7px;
    }

    :nth-child(2) {
      margin-left: 10px;
    }
  }

  .show-all {
    font-size: 13px;
    color: base.$blue;
    cursor: pointer;
    transition: 1s;
    font-weight: 600;

    img {
      width: 10px;
      transition: 0.3s;
    }

    &:hover img {
      transform: translateX(7px);
    }

    &:active img {
      transform: none;
    }
  }

  .deposit-content {
    @include base.content-style;
    font-weight: 600;
  }

  .contacts.desktop {
    .contacts-content {
      list-style: none;
    }

    span {
      font-size: 12px;
    }

    .contact {
      transform: scale(0.9);
      border-radius: 8px;
      border: 1px solid transparent;
      cursor: pointer;
      height: fit-content;

      &:hover {
        border: 1px solid base.$blue;
        background-color: base.$background-white;
      }

      &:active {
        transform: scale(0.85);
      }
    }

    .contact.add {
      img {
        width: 60px;
      }
    }
  }

  .deposit-content {
    font-size: 13px;
  }

  .transaction-content {
    white-space: nowrap;
    list-style: none;
    cursor: pointer;

    &:hover {
      background-color: base.$background-white;
    }

    .contact > div {
      width: 45px;
      height: 45px;
    }

    .date,
    .time {
      font-size: 10px;
    }

    .name {
      font-size: 14px;
      font-weight: 500;
    }

    .more {
      width: 28px;
      height: 28px;
      z-index: 0;

      &::before {
        content: "";
        position: absolute;
        border-radius: 50%;
        z-index: -1;
        transition: all 0.2s ease;
        width: 100%;
        height: 100%;
        transform: scale(0);
      }

      &:hover::before {
        background-color: #c6c6c6;
        transform: scale(1);
      }
    }

    .more > img {
      width: 4px;
      transition: 0.2s;
    }

    .more.active {
      img {
        transform: rotate(90deg);
      }
    }

    .more-dropdown {
      border: 2px solid base.$blue;
      background-color: base.$white;
      font-size: 0px;
      width: 70px;
      height: 35px;
      letter-spacing: 0px;
      border-radius: 5px;
      visibility: hidden;
      opacity: 0;

      span:first-of-type:before {
        content: "";
        width: 87%;
        border-bottom: 1px solid base.$light-border-blue;
      }

      &::before {
        @include base.container-pointer;
      }
    }

    .amount {
      font-size: 15px;
      font-weight: 800;
    }

    &::after {
      content: "";
      width: 92%;
      border-bottom: 1px solid base.$light-border-blue;
    }
  }

  .more-dropdown.more-dropdown-active {
    visibility: visible;
    opacity: 1;
    width: 140px;
    height: 70px;
    font-size: 15px;
  }

  .recent-transactions {
    user-select: none;
    height: 450px;
    ul:last-of-type {
      &::after {
        width: 100%;
        left: 0;
        border-bottom: 1px solid base.$light-border-blue;
      }
    }
  }

  .rate-headers {
    white-space: nowrap;
    list-style: none;
    font-size: 11px;
    color: base.$blue;

    &::before,
    &::after {
      content: "";
      width: 100%;
      border-bottom: 1px solid base.$light-border-blue;
    }
  }

  .rate-data {
    list-style: none;
    white-space: nowrap;
    font-size: 15px;
    height: 66px;

    .currency > img {
      width: 40px;
    }

    &::after {
      content: "";
      width: 100%;
      border-bottom: 1px solid base.$light-border-blue;
    }
  }

  .desktop footer {
    height: 260px;
    color: base.$dark;
    background-color: base.$white;
    border-top: 30px solid base.$blue;

    &::before {
      content: "";
      width: 100%;
      border-bottom: 5px solid base.$yellow;
    }

    h2 {
      font-size: 17px;
    }

    a,
    p,
    span {
      font-size: 12px;
    }

    a {
      text-decoration: none;
      color: base.$dark;

      &:active {
        color: base.$blue;
      }
    }

    .banky-info {
      h2 {
        color: base.$blue;
        font-size: 23px;
        font-weight: 600;
      }

      p,
      h2,
      div {
        width: 50%;
      }

      img {
        cursor: pointer;
        &:active {
          transform: scale(0.9);
        }
      }
    }

    .createdBy {
      white-space: nowrap;
    }
  }
}
