@use "base";

html,
body,
.mobile {
  height: 100%;
}
.mobile {
  background-color: base.$background-white;
  font-family: base.$font-nunito;
  font-weight: 800;
  min-width: 200px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 400px auto auto auto;
  gap: 25px;
  color: base.$dark;
  letter-spacing: 3px;

  .desktop {
    display: none;
  }

  .top {
    background-color: base.$white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 2px solid rgb(24, 90, 219, 0.3);
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.3);

    p {
      color: base.$blue;
      font-size: 18px;
      margin-top: 30px;
    }
    .line {
      border-bottom: 1px solid rgb(24, 90, 219, 0.5);
      width: 80%;
    }
  }

  header {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr;
    background-color: base.$blue;
    color: base.$white;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
    align-items: center;
    font-size: 13px;

    h1 {
      justify-self: center;
    }

    .qrcode {
      justify-self: start;
      margin-left: 3vh;
      img {
        width: 25px;
        filter: invert(99%) sepia(1%) saturate(62%) hue-rotate(5deg)
          brightness(116%) contrast(91%);
      }
    }
  }

  .support {
    justify-self: end;
    margin-right: 3vh;
    img {
      width: 25px;
      filter: invert(99%) sepia(1%) saturate(62%) hue-rotate(5deg)
        brightness(116%) contrast(91%);
    }
  }

  .top {
    width: 100%;
  }

  .swiper {
    width: max(99vw, 260px);
    height: 100%;
  }

  .swiper-slide {
    display: flex;
    justify-content: center;
  }

  .quick-transaction {
    @include base.border-style;
    display: grid;
    grid-template-rows: 1px 1fr;
    grid-template-columns: 1fr;
    color: base.$dark;
    gap: 20px;
    background-color: base.$white;

    h3 {
      margin: 0;
      justify-self: center;
      margin-top: 10px;
      font-size: 17px;
    }

    .contact {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 7px;
      white-space: nowrap;
      font-size: 13px;
      width: 70px;
    }
  }

  .contacts {
    display: flex;
    flex-wrap: wrap;
    margin: 30px;
    gap: 20px;
  }

  .deposits {
    background-color: base.$white;
    @include base.border-style;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 30px 65px 80px;
    align-items: center;

    h3 {
      grid-column: 1/3;
      grid-row: 1/2;
      justify-self: center;
      margin: 0;
      margin-top: 10px;
      font-size: 17px;
    }
    .deposit-type {
      align-self: end;
      margin-left: 30px;
      gap: 10px;
      display: flex;
      align-items: center;
    }
    .deposit-amount {
      justify-self: end;
      margin-right: 20px;
      align-self: end;
    }

    .deposit-amount,
    .deposit-type {
      font-weight: 400;
      font-size: 18px;
    }

    .line {
      @include base.line;
      grid-column: 1/3;
      grid-row: 3/4;
      align-self: start;
    }

    .details {
      grid-column: 1/3;
      grid-row: 3/4;
      margin-top: 30px;
      justify-self: center;
      cursor: pointer;
      font-weight: 400;
    }
  }

  .transactions {
    @include base.border-style;
    .transactions-header {
      display: flex;

      h3 {
        flex: 1;
        text-align: center;
        padding-left: 20px;
      }

      img {
        width: 20px;
        padding-right: 20px;
      }
    }
    .line {
      @include base.line;
      width: 100%;
      margin-top: 25px;
      margin-bottom: 20px;
    }
    .more {
      margin-bottom: 20px;
    }
  }

  .day-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    // * {
    //   border: 1px solid;
    // }
    .date {
      margin-top: 40px;
      font-size: 14px;
      font-weight: 600;
      text-align: center;
      margin-bottom: 30px;
    }

    .line-half {
      width: 90%;
      border-bottom: 1px solid rgb(24, 90, 219, 0.5);
      margin-top: 15px;
      margin-bottom: 15px;
    }
  }

  .transaction {
    width: 90%;
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: 20px 20px;
    grid-template-columns: min-content min(170px, 20vw) auto auto;
    gap: 10px;
    padding: 10px;

    .contact {
      grid-row: 1/3;
      grid-column: 1/2;
    }

    .name {
      align-self: start;
      grid-row: 1/2;
      grid-column: 2/3;
      font-size: min(15px, 3.5vw);
    }

    .time {
      align-self: end;
      font-size: 12px;
      grid-row: 2/3;
      grid-column: 2/3;
      font-size: min(12px, 2.5vw);
    }

    .transfer-type {
      grid-column: 3/4;
      grid-row: 1/3;
      font-size: min(12px, 2.5vw);
      font-weight: 600;
      text-align: center;
      justify-self: start;
      margin-left: 4vw;
    }

    .amount {
      grid-column: 4/5;
      grid-row: 1/3;
      font-size: min(15px, 3.5vw);
      justify-self: end;
    }

    .contact,
    .amount,
    .transfer-type {
      align-self: center;
    }
  }

  footer > a {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 8px;
    height: 40px;
    color: base.$blue;
    text-decoration: none;
  }

  .empty {
    height: 50px;
  }
}

@media only screen and (min-width: 780px) {
  .mobile {
    display: none;
  }

  .desktop {
    height: 100%;
    display: grid;
    grid-template-rows: 60px;
    letter-spacing: 3px;
    font-family: base.$font-nunito;
    background-color: base.$background-white;
  }

  header {
    background-color: base.$blue;
    color: base.$white;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1.2fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;

    h1 {
      margin: 0;
      font-size: 25px;
      padding-left: 5vw;
    }
  }

  .middle {
    display: flex;
    justify-content: center;
  }

  .search {
    background-color: white;

    display: flex;
    border-radius: 18px;
    align-items: center;
    border: 2px solid base.$yellow;
    padding: 1px;
    padding-top: 3px;
    width: 90%;

    input[type="text"] {
      flex: 1;
      border: none;
      outline: none;
      padding-left: 10px;
      background-color: transparent;
    }

    img {
      padding-left: 7px;
    }
  }

  .right {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;

    #notification-opened {
      display: none;
    }
  }

  .user {
    display: flex;
    align-items: center;
    margin-right: 20px;
    gap: 8px;
    font-size: 13px;
    .profile-photo {
      width: 32px;
      height: 32px;
      border: 2px solid base.$yellow;
      border-radius: 50%;
      background-color: white;
    }
  }

  .notifications-darkMode {
    width: 25%;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-around;
  }

  .notifications {
    position: relative;
    display: block;
  }
  .notification-container {
    color: base.$dark;
    width: 310px;
    height: 120px;
    position: absolute;
    border: 2px solid base.$blue;
    border-radius: 10px;
    top: 45px;
    box-shadow: 2px 2px 10px rgba(24, 90, 219, 0.5);
    right: -145px;
    background-color: base.$white;
    display: none; //grid added later with JS
    grid-template-rows: 25% 75%;
    grid-template-columns: 50% 50%;
    font-size: 13px;

    img {
      width: 30px;
      margin-bottom: 10px;
    }

    #noti-header {
      grid-column: 1/2;
      grid-row: 1/2;
      margin-left: 15px;
      margin-top: 8px;
      color: base.$blue;
      font-weight: 600;
    }

    img {
      width: 12px;
      grid-row: 1/2;
      grid-column: 2/3;
      justify-self: end;
      margin-right: 15px;
      margin-top: 7px;
    }
  }

  .notification-content {
    justify-self: center;
    border-top: 1px solid rgb(24, 90, 219, 0.3);
    margin-bottom: 10px;
    grid-row: 2/3;
    grid-column: 1/3;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    #noti-content {
      font-size: 11px;
      color: base.$dark;
    }

    img {
      width: 20px;
    }
  }
}
