@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&display=swap");
html,
body,
.mobile {
  height: 100%;
}

.mobile {
  background-color: #f4f4f4;
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  min-width: 200px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 400px auto auto auto;
  gap: 25px;
  color: #0f2c56;
  letter-spacing: 3px;
}
.mobile .desktop {
  display: none;
}
.mobile .top {
  background-color: #fdfcfa;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 2px solid rgba(24, 90, 219, 0.3);
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.3);
}
.mobile .top p {
  color: #185adb;
  font-size: 18px;
  margin-top: 30px;
}
.mobile .top .line {
  border-bottom: 1px solid rgba(24, 90, 219, 0.5);
  width: 80%;
}
.mobile header {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr;
  background-color: #185adb;
  color: #fdfcfa;
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
  align-items: center;
  font-size: 13px;
}
.mobile header h1 {
  justify-self: center;
}
.mobile header .qrcode {
  justify-self: start;
  margin-left: 3vh;
}
.mobile header .qrcode img {
  width: 25px;
  filter: invert(99%) sepia(1%) saturate(62%) hue-rotate(5deg) brightness(116%) contrast(91%);
}
.mobile .support {
  justify-self: end;
  margin-right: 3vh;
}
.mobile .support img {
  width: 25px;
  filter: invert(99%) sepia(1%) saturate(62%) hue-rotate(5deg) brightness(116%) contrast(91%);
}
.mobile .top {
  width: 100%;
}
.mobile .swiper {
  width: max(99vw, 260px);
  height: 100%;
}
.mobile .swiper-slide {
  display: flex;
  justify-content: center;
}
.mobile .quick-transaction {
  border: 2px solid rgba(24, 90, 219, 0.3);
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
  border-radius: 13px;
  display: grid;
  grid-template-rows: 1px 1fr;
  grid-template-columns: 1fr;
  color: #0f2c56;
  gap: 20px;
  background-color: #fdfcfa;
}
.mobile .quick-transaction h3 {
  margin: 0;
  justify-self: center;
  margin-top: 10px;
  font-size: 17px;
}
.mobile .quick-transaction .contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7px;
  white-space: nowrap;
  font-size: 13px;
  width: 70px;
}
.mobile .contacts {
  display: flex;
  flex-wrap: wrap;
  margin: 30px;
  gap: 20px;
}
.mobile .deposits {
  background-color: #fdfcfa;
  border: 2px solid rgba(24, 90, 219, 0.3);
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
  border-radius: 13px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.mobile .deposits .deposit-type {
  padding: 0;
  width: 90%;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.mobile .deposits .deposit-type #first-deposit::after {
  content: "";
  border-bottom: 1px solid rgba(24, 90, 219, 0.4);
  width: 100%;
  position: absolute;
  bottom: -15px;
}
.mobile .deposits .deposit-type .left {
  display: flex;
  align-items: center;
  gap: 15px;
}
.mobile .deposits .deposit-type img {
  width: 40px;
}
.mobile .deposits .details {
  padding: 20px 0px;
}
.mobile .deposits::after {
  content: "";
  border-bottom: 1px solid rgba(24, 90, 219, 0.3);
  position: absolute;
  width: 100%;
  bottom: 55px;
}
.mobile .transactions {
  border: 2px solid rgba(24, 90, 219, 0.3);
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
  border-radius: 13px;
}
.mobile .transactions .transactions-header {
  display: flex;
}
.mobile .transactions .transactions-header h3 {
  flex: 1;
  text-align: center;
  padding-left: 20px;
}
.mobile .transactions .transactions-header img {
  width: 20px;
  padding-right: 20px;
}
.mobile .transactions .line {
  border-bottom: 1px solid rgba(24, 90, 219, 0.3);
  margin-top: 25px;
  margin-bottom: 25px;
  width: 100%;
  margin-top: 25px;
  margin-bottom: 20px;
}
.mobile .transactions .more {
  margin-bottom: 20px;
}
.mobile .day-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.mobile .day-group .date {
  margin-top: 40px;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 30px;
}
.mobile .day-group .line-half {
  width: 90%;
  border-bottom: 1px solid rgba(24, 90, 219, 0.5);
  margin-top: 15px;
  margin-bottom: 15px;
}
.mobile .transaction {
  width: 90%;
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: 20px 20px;
  grid-template-columns: min-content min(170px, 20vw) auto auto;
  gap: 10px;
  padding: 10px;
}
.mobile .transaction .contact {
  grid-row: 1/3;
  grid-column: 1/2;
}
.mobile .transaction .name {
  align-self: start;
  grid-row: 1/2;
  grid-column: 2/3;
  font-size: min(15px, 3.5vw);
}
.mobile .transaction .time {
  align-self: end;
  font-size: 12px;
  grid-row: 2/3;
  grid-column: 2/3;
  font-size: min(12px, 2.5vw);
}
.mobile .transaction .transfer-type {
  grid-column: 3/4;
  grid-row: 1/3;
  font-size: min(12px, 2.5vw);
  font-weight: 600;
  text-align: center;
  justify-self: start;
  margin-left: 4vw;
}
.mobile .transaction .amount {
  grid-column: 4/5;
  grid-row: 1/3;
  font-size: min(15px, 3.5vw);
  justify-self: end;
}
.mobile .transaction .contact,
.mobile .transaction .amount,
.mobile .transaction .transfer-type {
  align-self: center;
}
.mobile footer > a {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 8px;
  height: 40px;
  color: #185adb;
  text-decoration: none;
}
.mobile .empty {
  height: 50px;
}

@media only screen and (min-width: 780px) {
  .mobile {
    display: none;
  }
  .desktop {
    height: 100%;
    display: grid;
    grid-template-rows: 70px 48px auto;
    letter-spacing: 3px;
    overflow: auto;
  }
  header {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1.2fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
  }
  header h1 {
    margin: 0;
    padding-left: 5vw;
  }
  .middle {
    display: flex;
    justify-content: center;
  }
  .search {
    display: flex;
    align-items: center;
    padding: 1px;
    padding-top: 3px;
    width: 90%;
  }
  .search input[type=text] {
    flex: 1;
    padding-left: 10px;
    margin-bottom: 2px;
  }
  .search img {
    padding-left: 13px;
    width: 18px;
  }
  .right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }
  .right img {
    cursor: pointer;
  }
  .right {
    position: relative;
  }
  .user {
    display: flex;
    align-items: center;
    margin-right: 29px;
    gap: 8px;
    position: relative;
  }
  .user svg {
    width: 12px;
  }
  .user span {
    min-width: 110px;
  }
  .user:hover svg {
    margin-top: 15px;
  }
  svg.active {
    margin-top: 15px;
  }
  .user-options {
    top: 20px;
    right: 50px;
    position: absolute;
    padding: 10px;
    z-index: 2;
  }
  .user-options ul {
    padding: 0;
    margin: 0;
  }
  .user-options ul li {
    padding: 7px;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .user-options h3,
  .user-options h4 {
    margin: 0;
  }
  .user-options h4 {
    margin-bottom: 10px;
    margin-top: 2px;
  }
  .user-options::before {
    top: -7px;
    right: 50px;
  }
  .user-options.shown {
    top: 54px;
    right: 10px;
  }
  .notifications-darkMode {
    display: flex;
    align-items: center;
    gap: max(20px, 3vw);
    justify-content: space-around;
    margin-left: 3vw;
    margin-right: 3vw;
  }
  .notifications {
    position: relative;
    display: block;
  }
  .notification-container {
    display: grid;
    position: absolute;
    grid-template-rows: 25% 75%;
    grid-template-columns: 1fr;
    z-index: 1;
    top: 0px;
    right: 0px;
  }
  .notification-container img[alt=close] {
    align-self: center;
    margin-right: 20px;
  }
  .notification-container #noti-heading {
    justify-self: center;
    align-self: center;
    margin-top: 3px;
    margin-left: 25px;
  }
  .notification-container.show {
    top: 50px;
    right: -200px;
  }
  .notification-content {
    justify-self: center;
    margin-bottom: 10px;
    grid-row: 2/3;
    grid-column: 1/3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .notification-content::before {
    top: -8px;
    right: 204px;
  }
  .notification-content #noti-content {
    margin-top: 3px;
  }
  #notification,
  #notification-opened {
    width: 23px;
    margin-bottom: 3px;
  }
  #notification-opened {
    margin-bottom: 10px;
  }
  .hidden {
    display: none;
  }
  .display {
    display: block;
  }
  #navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  #navigation span {
    position: relative;
    z-index: 0;
  }
  #navigation span::before {
    position: absolute;
    top: -26px;
    left: 50%;
    margin-left: -5px;
  }
  #navigation span:hover::before {
    top: -23px;
  }
  .main.wide {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(450px, 0.7fr));
    grid-auto-rows: 435px;
    gap: 30px;
    margin: 20px 100px;
  }
  .main.wide .right-top {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .main.wide h3 {
    margin: 0;
    padding: 15px 20px;
  }
  .main.wide .info-header {
    margin-top: 25px;
    padding: 0px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
  }
  .main.wide .info-header li {
    padding-bottom: 5px;
  }
  .main.wide .card-info .info-header {
    margin-top: 35px;
  }
  .card-info span {
    padding: 0px 20px;
  }
  .card-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 23px;
    margin: 0;
  }
  .deposit-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 23px;
    margin: 0;
    padding: 22px 23px;
  }
  .show-all {
    display: flex;
    margin-top: auto;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }
  .show-all span {
    padding: 0;
  }
  .deposit-content {
    padding: 9px 16px 13px 11px;
  }
  .deposit-content :first-child,
  .deposit-content li {
    display: flex;
    align-items: center;
    gap: 15px;
    padding-left: 5px;
  }
  .deposit-content :first-child img,
  .deposit-content li img {
    width: 30px;
  }
  .deposits .show-all {
    margin-top: 0;
    margin-top: 18px;
  }
  .contacts.desktop {
    display: grid;
    grid-template-rows: min-content 1fr;
    grid-template-columns: min-content;
  }
  .contacts.desktop h3 {
    margin: 0;
  }
  .contacts.desktop .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
  }
  .contacts.desktop .contact span {
    text-align: center;
    margin-top: 10px;
  }
  .contacts.desktop .contacts-content {
    margin: 0;
    padding: 10px 10px;
    padding-right: 0;
    display: flex;
    gap: 1px;
  }
  .transaction-content {
    margin: 0;
    padding: 10px 30px;
    display: grid;
    grid-template-columns: min-content 1fr 1fr min-content;
    grid-template-rows: repeat(3, fit-content);
    grid-auto-flow: row;
    -moz-column-gap: 20px;
         column-gap: 20px;
    row-gap: 0px;
    position: relative;
    grid-template-areas: "photo date amount more" "photo contact_name amount more" "photo time amount more";
  }
  .transaction-content .contact {
    grid-area: photo;
  }
  .transaction-content .time {
    grid-area: time;
  }
  .transaction-content .date {
    grid-area: date;
  }
  .transaction-content .name {
    grid-area: contact_name;
  }
  .transaction-content .amount {
    grid-area: amount;
    align-self: center;
    margin-left: auto;
  }
  .transaction-content .more {
    grid-area: more;
    align-self: center;
    margin-left: auto;
    margin-top: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .transaction-content .more-dropdown {
    transition: 0.2s;
    position: absolute;
    bottom: -20px;
    right: 15px;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1px;
  }
  .transaction-content .more-dropdown span {
    padding: 8px 8px;
    border-radius: 3px;
    position: relative;
  }
  .transaction-content .more-dropdown span:hover {
    background-color: #f4f4f4;
  }
  .transaction-content .more-dropdown span:first-of-type:before {
    position: absolute;
    right: 0;
    left: 9px;
    bottom: -1px;
  }
  .transaction-content .more-dropdown::before {
    top: -7px;
    right: 20px;
  }
  .transaction-content .more-dropdown.more-dropdown-active {
    bottom: -64px;
  }
  .transaction-content::after {
    position: absolute;
    bottom: 0;
    left: 24px;
  }
  .recent-transactions #transaction-header {
    padding-bottom: 30px;
  }
  .exchange-rates {
    height: 500px;
  }
  .exchange-rates h3 {
    margin-bottom: 50px;
  }
  .rate-headers {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 0.5fr 0.5fr;
    grid-template-rows: 20px 20px;
    row-gap: 5px;
    grid-template-areas: "currencyHd offRateHd bankRtHd bankRtHd" ". . buyRateHd sellRateHd";
  }
  .rate-headers::before {
    position: absolute;
    bottom: 25px;
  }
  .rate-headers::after {
    position: absolute;
    bottom: 0;
  }
  .rate-headers .currencyHd {
    grid-area: currencyHd;
  }
  .rate-headers .offRateHd {
    grid-area: offRateHd;
    justify-self: center;
    margin-right: 30px;
  }
  .rate-headers .bankRtHd {
    grid-area: bankRtHd;
    justify-self: center;
  }
  .rate-headers .buyRateHd {
    grid-area: buyRateHd;
    justify-self: center;
  }
  .rate-headers .sellRateHd {
    grid-area: sellRateHd;
    justify-self: center;
  }
}
.desktop {
  display: none;
}

.one {
  background-image: url(../img/holiday-illustration.jpg);
}

.two {
  background-image: url(../img/summer-digital-illustrations.jpg);
}

.three {
  background-image: url(../img/digital-illustration-summer.png);
}

.card {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: 3px solid #185adb;
  border-radius: 10px;
  display: grid;
  height: 180px;
  width: 280px;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  color: #fdfcfa;
  margin-top: 3vh;
  margin-bottom: 3vh;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.card .infoBack {
  background-color: #0f2c56;
  margin: 15px;
  padding: 1px;
  padding-right: 3px;
  padding-left: 3px;
  border-radius: 5px;
  white-space: nowrap;
}
.card .left {
  justify-self: start;
}
.card .right {
  justify-self: end;
}
.card .bottom {
  align-self: end;
}
.card .up {
  align-self: start;
}

.contact .photo-placeholder {
  border: 1px solid #185adb;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.Duda > .photo-placeholder {
  background-image: url("../img/person1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.Anna > .photo-placeholder {
  background-image: url("../img/person4.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.John > .photo-placeholder {
  background-image: url("../img/person5.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.Amanda > .photo-placeholder {
  background-image: url("../img/person2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.contact img {
  width: 60px;
}

.active.photo-placeholder {
  box-shadow: 0 0 4px 2px #185adb;
  transform: scale(1.1);
}

.contact.add-con img {
  width: 60px;
  box-shadow: none;
}

.active.add-contact {
  transform: scale(1.15);
}

.add-contact {
  transform: none;
}

.details {
  color: #185adb;
  display: flex;
  align-items: center;
  gap: 10px;
}
.details img {
  width: 12px;
}

nav {
  width: 75%;
  border: 2px solid #185adb;
  justify-self: center;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 23px;
  position: fixed;
  bottom: 0;
  margin-bottom: 20px;
  background-color: #ffc947;
}
nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
nav ul li {
  list-style: none;
}

@media only screen and (min-width: 780px) {
  .mobile {
    display: none;
  }
  .desktop {
    display: grid;
    font-family: "Nunito", sans-serif;
    background-color: #f4f4f4;
  }
  header {
    background-color: #185adb;
    color: #fdfcfa;
  }
  header h1 {
    font-size: 25px;
  }
  .search {
    border-radius: 18px;
    border: 2px solid #ffc947;
    background-color: #f4f4f4;
  }
  .search input[type=text] {
    border: none;
    outline: none;
    background-color: transparent;
  }
  .user svg {
    transition: 0.2s;
    transform: rotate(90deg);
    cursor: pointer;
  }
  .user .profile-photo {
    min-width: 35px;
    min-height: 35px;
    border: 3px solid #ffc947;
    border-radius: 50%;
    cursor: pointer;
    background-image: url("../img/person6.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .user-options {
    border: 2px solid #185adb;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(24, 90, 219, 0.5);
    background-color: #fdfcfa;
    visibility: hidden;
    opacity: 0;
    transition: 0.2s;
    width: 0px;
    height: 0px;
    font-size: 0;
  }
  .user-options * {
    visibility: hidden;
    opacity: 0;
  }
  .user-options.shown {
    opacity: 1;
    visibility: visible;
    width: 130px;
    height: 160px;
  }
  .user-options.shown * {
    visibility: visible;
    opacity: 1;
    transition: 0.4s;
  }
  .user-options.shown svg {
    width: 13px;
    cursor: pointer;
    opacity: 0.7;
    padding-right: 5px;
  }
  .user-options.shown::before {
    content: "";
    width: 10px;
    height: 10px;
    background-color: #fdfcfa;
    border: 2px solid #185adb;
    position: absolute;
    transform: rotate(45deg);
    border-bottom: none;
    border-right: none;
  }
  .user-options.shown h3,
  .user-options.shown h4 {
    text-align: center;
    color: #0f2c56;
    font-size: 15px;
  }
  .user-options.shown h4 {
    font-size: 10px;
  }
  .user-options.shown ul {
    list-style: none;
  }
  .user-options.shown ul li {
    border-top: 1px solid rgba(24, 90, 219, 0.3);
    font-size: 14px;
  }
  .user-options.shown ul li:hover svg {
    opacity: 1;
  }
  .user-options.shown ul li a {
    text-decoration: none;
    color: #0f2c56;
  }
  .user-options.shown ul li a:hover {
    color: #185adb;
  }
  .user-options.shown #privacy svg,
  .user-options.shown #logout svg {
    width: 17px;
    padding-right: 2px;
  }
  .notifivations-darkMode {
    width: 30%;
  }
  .notification-container {
    border: 2px solid #185adb;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(24, 90, 219, 0.5);
    background-color: #fdfcfa;
    font-size: 0px;
    color: #0f2c56;
    width: 10px;
    height: 10px;
    transition: 0.2s;
  }
  .notification-container img[alt=close] {
    width: 11px;
  }
  .notification-container img[alt=close]:hover {
    transform: scale(1.1);
  }
  .notification-container #noti-heading {
    color: #185adb;
    font-weight: 600;
  }
  .notification-content {
    border-top: 1px solid rgba(24, 90, 219, 0.3);
    width: 90%;
    opacity: 0;
    visibility: hidden;
  }
  .notification-content::before {
    content: "";
    width: 10px;
    height: 10px;
    background-color: #fdfcfa;
    border: 2px solid #185adb;
    position: absolute;
    transform: rotate(45deg);
    border-bottom: none;
    border-right: none;
    opacity: 0;
    visibility: hidden;
  }
  .notification-content #noti-content {
    font-size: 11px;
    color: #0f2c56;
  }
  .notification-content img {
    width: 28px;
  }
  #notification:hover,
  #notification-opened:hover,
  .dark-mode > img:hover {
    transform: scale(1.1);
  }
  .hide {
    opacity: 0;
    visibility: hidden;
  }
  .show {
    opacity: 1;
    visibility: visible;
    width: 310px;
    height: 130px;
    font-size: 13px;
  }
  .show * {
    transition: 0.3;
  }
  .show .notification-content,
  .show .notification-content::before {
    opacity: 1;
    visibility: visible;
  }
  #navigation {
    width: 100%;
    background-color: #ffc947;
    color: #185adb;
    font-weight: 600;
    overflow: hidden;
  }
  #navigation span {
    cursor: pointer;
  }
  #navigation span::before {
    content: "";
    width: 10px;
    height: 10px;
    background-color: #fdfcfa;
    border: 2px solid #185adb;
    position: absolute;
    transform: rotate(45deg);
    border-bottom: none;
    border-right: none;
    background-color: #185adb;
    opacity: 0;
    transition: 0.3s;
  }
  #navigation span:hover::before {
    opacity: 1;
  }
  .main.wide {
    color: #0f2c56;
  }
  .main.wide .card-info,
  .main.wide .deposits,
  .main.wide .contacts,
  .main.wide .recent-transactions,
  .main.wide .exchange-rates {
    background-color: #fdfcfa;
    border: 2px solid rgba(24, 90, 219, 0.4);
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
    border-radius: 13px;
  }
  .main.wide .right-top {
    border: none;
    box-shadow: none;
  }
  .main.wide .right-top > div {
    height: 50%;
  }
  .main.wide h3 {
    color: #0f2c56;
    font-size: 15px;
    font-weight: 400;
  }
  .card-info > span {
    font-weight: 600;
  }
  .info-header {
    border-bottom: 1px solid rgba(24, 90, 219, 0.3);
    list-style: none;
    color: #185adb;
    font-size: 11px;
  }
  .card-content {
    border-bottom: 1px solid rgba(24, 90, 219, 0.3);
    list-style: none;
    font-weight: 600;
    font-size: 15px;
  }
  .card-content .card-image {
    width: 60px;
    height: 40px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 2px solid #185adb;
    border-radius: 7px;
  }
  .card-content :nth-child(2) {
    margin-left: 10px;
  }
  .show-all {
    font-size: 13px;
    color: #185adb;
    cursor: pointer;
    transition: 1s;
    font-weight: 600;
  }
  .show-all img {
    width: 10px;
    transition: 0.3s;
  }
  .show-all:hover img {
    transform: translateX(7px);
  }
  .show-all:active img {
    transform: none;
  }
  .deposit-content {
    border-bottom: 1px solid rgba(24, 90, 219, 0.3);
    list-style: none;
    font-weight: 600;
  }
  .contacts.desktop .contacts-content {
    list-style: none;
  }
  .contacts.desktop span {
    font-size: 12px;
  }
  .contacts.desktop .contact {
    transform: scale(0.9);
    border-radius: 8px;
    border: 1px solid transparent;
    cursor: pointer;
    height: -moz-fit-content;
    height: fit-content;
  }
  .contacts.desktop .contact:hover {
    border: 1px solid #185adb;
    background-color: #f4f4f4;
  }
  .contacts.desktop .contact:active {
    transform: scale(0.85);
  }
  .contacts.desktop .contact.add img {
    width: 60px;
  }
  .deposit-content {
    font-size: 13px;
  }
  .transaction-content {
    white-space: nowrap;
    list-style: none;
    cursor: pointer;
  }
  .transaction-content:hover {
    background-color: #f4f4f4;
  }
  .transaction-content .contact > div {
    width: 45px;
    height: 45px;
  }
  .transaction-content .date,
  .transaction-content .time {
    font-size: 10px;
  }
  .transaction-content .name {
    font-size: 14px;
    font-weight: 500;
  }
  .transaction-content .more {
    width: 28px;
    height: 28px;
    z-index: 0;
  }
  .transaction-content .more::before {
    content: "";
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    transition: all 0.2s ease;
    width: 100%;
    height: 100%;
    transform: scale(0);
  }
  .transaction-content .more:hover::before {
    background-color: #c6c6c6;
    transform: scale(1);
  }
  .transaction-content .more > img {
    width: 4px;
    transition: 0.2s;
  }
  .transaction-content .more.active img {
    transform: rotate(90deg);
  }
  .transaction-content .more-dropdown {
    border: 2px solid #185adb;
    background-color: #fdfcfa;
    font-size: 0px;
    width: 70px;
    height: 35px;
    letter-spacing: 0px;
    border-radius: 5px;
    visibility: hidden;
    opacity: 0;
  }
  .transaction-content .more-dropdown span:first-of-type:before {
    content: "";
    width: 87%;
    border-bottom: 1px solid rgba(24, 90, 219, 0.3);
  }
  .transaction-content .more-dropdown::before {
    content: "";
    width: 10px;
    height: 10px;
    background-color: #fdfcfa;
    border: 2px solid #185adb;
    position: absolute;
    transform: rotate(45deg);
    border-bottom: none;
    border-right: none;
  }
  .transaction-content .amount {
    font-size: 15px;
    font-weight: 800;
  }
  .transaction-content::after {
    content: "";
    width: 92%;
    border-bottom: 1px solid rgba(24, 90, 219, 0.3);
  }
  .more-dropdown.more-dropdown-active {
    visibility: visible;
    opacity: 1;
    width: 140px;
    height: 70px;
    font-size: 15px;
  }
  .recent-transactions {
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    height: 450px;
  }
  .recent-transactions ul:last-of-type::after {
    width: 100%;
    left: 0;
    border-bottom: 1px solid rgba(24, 90, 219, 0.3);
  }
  .rate-headers {
    white-space: nowrap;
    margin: 25px 0 0 0;
    padding: 0;
    list-style: none;
    font-size: 11px;
    color: #185adb;
    padding: 0 0 0 30px;
  }
  .rate-headers::before, .rate-headers::after {
    content: "";
    width: 100%;
    border-bottom: 1px solid rgba(24, 90, 219, 0.3);
  }
}/*# sourceMappingURL=style.css.map */